<!--

// This file is part of Taasika - a timetabling software for 
// schools, colleges/universities.
//
// Taasika is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Taasika is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Taasika.  If not, see <http://www.gnu.org/licenses/>.

/**
 * Copyright 2017 Abhijit A. M.(abhijit13@gmail.com)
 */
-->

<header id="header">
	<div  id="title" align="center">
		<h2>TimeTable</h2>
	</div>
</header>

<div class="modal-container">
	<input type="checkbox" class="modal-toggle" id="config">
	<button>Config</button>
	<div class="modal-backdrop">
		<div class="modal-content">
			<label class="modal-close" for="config">x</label>
			<h2>Configuration</h2>
			<hr/>
			<div id="configurationDiv">
				<select id="configuration-menu" class="select-menu" >
					<option id = "selectOne" value = "selectOne" selected></option>
					<optgroup label="Primary Data">
						<option value = "teachers" onclick="teacherForm()">Teachers</option>
						<option value = "subjects" onclick="subjectForm()">Subjects</option>
						<option value = "classes" onclick="classForm()">Classes</option>
						<option value = "batchs" onclick="batchForm()">Batches</option>
						<option value = "rooms" onclick="roomForm()">Rooms</option>
						<option value = "depts" onclick="deptForm()">Depts</option>
					</optgroup>
					<optgroup label="Mappings">
						<option value = "subjectClassMapping" onclick="sctForm()"> 
						Class-Subject-Teacher</option>
						<option value = "subjectBatchMapping" onclick="sbtForm()"> 
						Batch-Subject-Teacher</option>
					</optgroup>
					<optgroup label="Overlaps">
						<option value = "batchCanOverlap" onclick="batchCanOverlapForm()"> 
						Overlaps Allowed</option>
						<option value = "overlappingSBT" onclick="overlappingSBTForm()"> 
						Overlaps Must</option>
					</optgroup>
					<optgroup label="Room Preferences">
						<option value = "classRoom" onclick="classRoomForm()"> 
						For Classes</option>
						<option value = "batchRoom" onclick="batchRoomForm()"> 
						For Batches</option>
						<option value = "subjectRoom" onclick="subjectRoomForm()"> 
						For Subjects</option>
					</optgroup>
					<option value = "config" onclick="configForm()"> 
					Configure Timetable</option>
					<option value = "user" onclick="userForm()">Users</option>
				</select>
			</div>
			<label class="modal-close button" for="config">Close</label>
		</div>	
	</div>
</div>

<div class="modal-container track">
	<input class="modal-toggle" type="checkbox" id="trackme">
	<button>Track</button>
	<div class="modal-backdrop trackme-back">
		<div class="modal-content trackme-con">
			<label class="modal-close" for="trackme">x</label>
			<h2>Tracker</h2>
			<hr/>
			<div id="trackerDiv">
				<span id="completionTag"></span>
				<div id="tracker" rows = "3" cols = "20" readonly="readonly"></div>
			</div>
			<label class="modal-close button" for="trackme">Close</label>
		</div>
	</div>
</div>

<div class="modal-container warn">
	<input class="modal-toggle" type="checkbox" id="warnme">
	<button>Warn</button>
	<div class="modal-backdrop trackme-back">
		<div class="modal-content trackme-con">
			<label class="modal-close" for="warnme">x</label>
			<h2>Warning</h2>
			<hr/>
			<div id="warnDiv"></div>
			<label class="modal-close button" for="warnme">Close</label>
		</div>
	</div>
</div>

<div class="container row menus" id="selection-menu-column">
	<div class="col-md-1"> 
		<div class = "selection-menu">
			See Classwise<br>
			<select id = "class-menu" class= "select-menu"  >
				<option value = "EMPTY"> </option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div class = "selection-menu">
			See Roomwise<br>
			<select id = "room-menu" class= "select-menu"  >
				<option value = "EMPTY"> </option>
			</select> 
		</div>
	</div>
	<div class="col-md-1">
		<div class = "selection-menu">
			See Teacherwise<br>
			<select id = "teacher-menu" class= "select-menu"  >
				<option value = "EMPTY" selected> </option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div class = "selection-menu">
			See Batchwise<br>
			<select id = "batch-menu" class= "select-menu"  >
				<option value = "EMPTY"> </option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div class = "selection-menu">
			Select Snapshot<br>
			<select id = "fetch-snapshot-menu" class= "select-menu"  >
				<option value = "" selected></option>
			</select>
		</div>
	</div>
	<div class="col-md-1">
		<div class="selection-menu">
			<form action="timetable.php" method="POST">
				Export/Import <br>
				<select name="type" class= "select-menu" id="export-menu" display="none"  onchange="exportImportHelper(this.value)">
					<option id = "selectEmpty" value = "selectEmpty" selected></option>
					<option value = "jsExport.exportXLSX">Timetable as Excelx</option>
					<option value = "jsSQLExport.timetable">Database as SQL</option>
					<option value = "jsExport.exportConfigXLSX">Configuration as Excelx</option>
					<option value = "jsExport.exportCSV" >Timetable as CSV</option>
					<option value = "jsExport1.exportPDFsingle">Current Timetable as PDF</option>
					<option value = "jsExport.exportPDF">Timetable as PDF</option>
					<option value = "jsExportNotSupported.Importing Timetable as xlsx"
									>Import Timetable as Excelx</option>
					<option value = "jsExportNotSupported.Importing Configuration as xlsx"
											>Import Configuration as Excelx</option>
					<option value = "jsExport.exportCurrentXLSX">Current timetable as Excelx</option>
					<option value = "jsExport.exportWorkloadXLSX">Workload as Excelx</option>
				</select>
			</form>
		</div>
		<script>
			$('#export-menu').keyup(function(event) {
				if(event.which==13) {
					var text = $(this).val();
					if(text == "Excelx") {
						jsExport("exportXLSX");
					}
					if(text == "SQL") {
						jsSQLExport("timetable");
					}
					if(text == "DExcelx") {
						jsExport("exportConfigXLSX");
					}
					if(text == "zip") {
						jsExport("exportCSV");
					}
					if(text == "pdf") {
						jsExport("exportPDF");
					}
					if(text == "ExcelxImport") {
						alert("not supported");
					}
					if(text == "DExcelxImport") {
						alert("not supported");
					}
					if(text == "CExcelx") {
						jsExport("exportCurrentXLSX");
					}
					if(text == "BExcelx") {
						jsExport("exportWorkloadXLSX");
					}
				}

			});
		</script>
	</div>
	<div class="col-md-1 small">
		<div class="selection-menu" id="save-snapshot-menu"> 
			<input type=button id="saveSnapshot" value="Save" onclick="jsSaveSnapshot(true)" >
			<input type=button id="saveNewSnapshot" value="Save As"		onclick="jsSaveNewSnapshot()" >
		</div>
	</div>
	<div class="col-md-1 small">
		<div class="selection-menu">
			<input type=button id="undoButton" value="undo"
				onclick="undo()" >
			<input type=button id="redoButton" value="redo"
				onclick="redo()" >
		</div>
	</div>
	<div class="col-md-1 small">
		<div class="selection-menu">
			<div id="clear-snapshot">
				<input type=button id="clearAll" value="Clear All" onclick="clearAll(true)">
			</div>
			<div id="hideButton"></div>
		</div>
	</div>
</div>

	<!-- The Main TimeTable-->
<div id = "mainTimeTable"></div>
